body{
  background: #D95D39;
}
h1{
  margin-top: 100px;
  color: #f9f6ed;
  text-align: center;
}
input[type=button]{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
  width: 130px;
  height: 50px;
  background: #F18805;
  color: #f9f6ed;
  border: none;
  filter: drop-shadow(0 0 2px #AA998F);

}
input[type=button]:focus{
  text-decoration: none;
  outline: 0;
}
div{
  text-align: center;
  font-size: 25px;
}
.container{
  background: #AA998F;
  border: 5px solid #F18805;
  height: 170px;
  width: 300px;
  color: #f9f6ed;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
}
